langchain
langchain-community
langchain-core
langchain-openai
rank_bm25
chromadb
sentence-transformers
streamlit
python-dotenv
torch
reportlab
pymupdf
pypdf
langgraph
langgraph-checkpoint-sqlite
easyocr
numpy
Pillow
